{% extends 'base.html' %}
{% load staticfiles %}
{% load cropping %}

{% block ogtype %}article{% endblock %}

{% block extrastyle %}
    <link href="{% static 'css/artworks.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock %}

{% block container-large %}
    <div id="full-view">

    </div>

    <div class="center-column">
        <div style="padding: 20px; text-align: center; width: 100%; margin: 0 auto;">
            <div style="display: inline-block; margin-right: 30px; text-align: center;">
                <a class="artwork-tag {% if page.name == 'shop/originals' %}active{% endif %}" href="{% url 'shop_originals' %}" id="tag-link-originals">
                    Originals
                </a>
                <a class="artwork-tag {% if page.name == 'shop/prints' %}active{% endif %}" href="{% url 'shop_prints' %}" id="tag-link-prints">
                    Prints
                </a>
                <a class="artwork-tag {% if page.name == 'shop/commissions' %}active{% endif %}" href="{% url 'custom_page' slug='shop/commissions' %}" id="tag-link-commissions">
                    Commisions
                </a>
            </div>
        </div>
    </div>

    <div id="artworks">
        {% for item in shop_items %}
            <div class="grid artwork" item="{{ item.id }}">
                <figure class="effect-lily" style="background-image: url({% cropped_thumbnail item 'thumbnail' scale=1 %});" alt="{{ item.artwork.name }}" title="{{ item.artwork.name }}">
                    <div class="dark">
                        <figcaption>
                            <div class="description" style="background: rgba(0,0,0,0.5); height: 120px; padding-top: 10px; text-align: left;">
                                <h2 style="text-align: right; float: right; margin-top: 20px;">
                                    <a href="{{ item.link }}" class="click-to-buy" target="_blank">CLICK TO BUY</a>
                                </h2>
                                <span style="font-size: 30px; line-height: 40px;" class="title">{{ item.artwork.name }}</span><br>
                                <span class="details">
                                    {{ item.artwork.type }},
                                    {% if item.sizes %}
                                        {{ item.sizes }}
                                    {% else %}
                                        {{ item.artwork.height }}x{{ item.artwork.width }}cm
                                    {% endif %}
                                    {# {{ item.artwork.year }} #}
                                </span><br>
                                <span>
                                    {{ item.price_display|safe }}
                                </span><br>
                            </div>
                        </figcaption>
                    </div>
                </figure>
            </div>
        {% endfor %}
    </div>
    <div class="clear"></div>

    <script src="{% static 'js/jquery.ba-hashchange.min.js' %}"></script>
    <script>
        $("#artworks").sortable({
            stop: function (e, ui) {
                var data = [];
                var shop_type = window.location.pathname.split('/')[2];
                $("#artworks .artwork").each(function () {
                    data.push($(this).attr('item'));
                });
                $.ajax({
                    url: '/shop/sort/',
                    type: 'POST',
                    dataType: 'json',
                    data: {data: data, shop_type: shop_type},
                    success: function (result) {
                        console.log(result);
                        if (!result.success) {
                            alert('Something went wrong while trying to sort the artworks. Please contact Rogerio: ' + result.message);
                        }
                    }
                })
            }
        });
    </script>
{% endblock %}
