.artwork-tag {
    *background-color: #eee;
    color: #333;
    padding: 10px 10px;
    display: inline-block;
    width: 270px;
    margin: 0 15px 10px 0;
    text-align: center;
}

.artwork-tag:hover {
    background-color: #f7f7f7;
    cursor: pointer;
    color: #333 !important;
}

.artwork-tag.active {
    background-color: #333;
    color: #eee !important;
    text-decoration: none;
}

.artwork-tag:visited {
    color: #333;
    text-decoration: none;
}

.artwork-tag:active {
    text-decoration: none;
}
