@font-face {
    font-family: Myriad Pro;
    src: url(/static/font/MYRIADPRO-COND.OTF);
    font-stretch: condensed;
}
@font-face {
    font-family: Gothic;
    src: url(/static/font/gothic.ttf);
}

@font-face {
    font-family: Gothic;
    src: url(/static/font/gothic.ttf);
}

@font-face {
    font-family: Gothic;
    font-weight: bold;
    src: url(/static/font/gothic-bold.ttf);
}

@font-face {
    font-family: 'Meg';
    src: url('../font/2E4B6B_0_0.eot');
    src: url('../font/2E4B6B_0_0.eot?#iefix') format('embedded-opentype'),
         url('../font/2E4B6B_0_0.woff2') format('woff2'),
         url('../font/2E4B6B_0_0.woff') format('woff'),
         url('../font/2E4B6B_0_0.ttf') format('truetype');
    -moz-font-feature-settings:"kern" 1;
    -moz-font-feature-settings:"kern=1";
    -ms-font-feature-settings:"kern" 1;
    -o-font-feature-settings:"kern" 1;
    -webkit-font-feature-settings:"kern" 1;
    font-feature-settings:"kern" 1;
}
body {
    font-family: Gothic;
    font-weight: normal;
    color: #444;
    margin: 0;
}


ul {
    *margin: 0;
    *padding: 0;
}

/*************  links colour schema commented: visited and normal as the same colours.
a {
    *color: inherit;
    color: #c3a478;
}

a:hover {
    color: #7897c3 !important;
    text-decoration: none !important;
}

a:active {
    color: #496fa5;
    text-decoration: none !important;
}

a:visited {
    color: #c3a478;
    text-decoration: none;
}
**************/

a {
    *color: inherit;
    color: #c3a478;
}

a:hover {
    color: #7897c3 !important;
    text-decoration: none !important;
}

a:active {
    color: #496fa5 !important;
    text-decoration: none !important;
}

a:visited {
    color: #aaa;
    text-decoration: none;
}



p {
    font-family: Gothic;
    margin: 0 0 30px 0;
    line-height: 30px;
    text-align: justify;
    font-size: 16px;
}

div {
    *margin: 0 0 30px 0;
    line-height: 30px;
    text-align: justify;
    font-size: 16px;
}

h1, h2, h3, h4, h6, h7, h8 {
    margin-bottom: 50px;
    margin-top: 50px;
}

h1 {
    text-align: center;
}

html {
    *background-size: cover;
}

.center {
    text-align: center;
}

.center-column {
    width: 960px;
    margin: 0 auto 0 auto;
}

ol {
    margin-bottom: 5px;
}

ol li p {
    margin-bottom: 0px;
    margin-top: 30px;
}

.dynamic-accordion p {
    cursor: pointer;
}

.dynamic-accordion:hover p {
    color: #7897c3 !important;
}

.dynamic-accordion.active p {
    color: #c3a478;
}

#logo {
    width: 320px;
    height: 55px;
    margin-top: 10px;
    cursor: pointer;
    float: left;
}

#body {
    position: relative;
    min-height: 100%;
}

.after-header {
    height: 75px;
}

#header {
    font-family: Meg;
    margin: 0 auto !important;
    *color: #fff;
    z-index: 9999 !important;
    font-weight: bold;
    background-position: 50% 40%;
    background-color: rgba(255, 255, 255, 0.9);
    display: table;
    position: fixed !important;
    width: 100%;
    height: 75px;
    background-size: cover;
    border-bottom: 1px solid #eee;
}

.menu-fixed {
    position: fixed !important;
    left: 0;
    top: 0px;
    width: 100%;
    transition: all 0.5s ease;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    background: rgba(0, 0, 0, 0.7);
}

#header .transp {
    *padding: 20px 0 40px 0;
    background: rgba(255, 255, 255, 0.1);
}

#body  #header .transp {
    background: rgba(0, 0, 0, 0.0);
}

.home-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    transition: 2s;
    z-index: 0 !important;
    width: 100%;
    display: block;
    position: absolute;
}

#menu {
    float: right;
    width: 583px;
    position: relative;
    font-size: 17px;
    font-family: Gothic;
    text-transform: lowercase;
    font-stretch: condensed;
    font-weight: normal;
}


#body #menu {
    width: 640px !important;
    margin-top: 18px;
}

#menu .item {
    text-align: center;
    display: block;
    margin: 0 !important;
    padding: 5px 45px;
    float: right;
    *color: #fff;
    text-decoration: none;
    z-index: 9999999;
}

#menu .item .sub-menu {
    list-style: none;
    background: rgba(230, 230, 230, 0.5);
    position: absolute;
    -ms-transform: scale(1, 0); /* IE 9 */
    -webkit-transform: scale(1, 0); /* Safari */
    transform: scale(1, 0);
    transition: 0.2s;
    margin: 0;
    padding: 0;
}

#menu .item .sub-menu li {
    padding: 0 20px;
}

#menu .item .sub-menu li a {
    color: #444 !important;
}


#body #menu .item {
    float: right;
    color: #444 !important;
    padding: 5px 0px 5px 90px;
}

#menu a {
    color: #444 ;
}

#menu a:hover {
    text-decoration: underline !important;
}

#menu a.active {
    text-decoration: underline;
}

#menu a.active:hover {
    *text-decoration: none;
}

#body #menu a:visited {
    color: #444 !important;
    text-decoration: none;
}

.container-main {
    *margin-bottom: 40px;
}

.site-middle {
    background-color: #f6f6f6;
    padding: 20px 0;
    margin-bottom: 40px;
    width: 100%;
    z-index: 9999;
}

#disqus_thread {
    position: relative;
    clear: both;
}

.hide_disqus_footer {
    margin-bottom: 70px;
    width: 100%;
    position: absolute;
    bottom:0;
    left:0;
    background: white;
    height: 40px;
}

#footer {
    font-size: 14px;
    background-color: #f6f6f6;
    padding: 20px 0;
    width: 100%;
    *height: 100px;
    position: absolute;
    bottom:0;
	left:0;
}

#footer .content {
    width: 960px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

#painting-preview {
    width: 510px;
    height: 580px;
    float: left;
    position: relative;
}
#painting-preview img {
    position: absolute;
    top: 0;
    left: 0;
}


#full-view {
    position: absolute;
    display: none;
    width: 100%;
    text-align: center !important;
    *cursor: crosshair;
    margin-bottom: 40px;
}

#full-view img {
}

#about-picture {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

#about-text {
    text-align: justify;
    font-variant: normal;
    text-transform: none;
    font-size: 12pt;
}

#login {
    width: 170px;
    padding: 20px;
    background-color: #ffeeee;
    margin: 200px auto 0 auto;
    border: 1px solid #999;
}
#login h1 {
    margin: 0;
}
#login form {
    margin: 0;
}
#login ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#login li {
    margin-bottom: 10px;
}
button {
    border: 1px solid #999;
    background-color: white;
    padding: 5px;
    margin: 10px 0 0 0;
}
input {
    padding: 5px;
}
.errorlist {
    color: red;
    font-family: tahoma;
    font-size: 12px !important;
    font-variant: none;
    text-transform: none;
    margin: 0;
    padding: 0;
}
.errorlist ul,
.errorlist li {
    margin: 0 !important;
    padding: 0 !important;
}

.parallax {
    background-repeat:no-repeat;
    background-position: center center;
    /* ie8- graceful degradation */
    background-position: 0% 0%\9 !important;
}

.banner {
    position: relative;
    height: 600px;
    width: 100%;
}

.banner-title {
    color: white;
    text-align: center;
    font-family: Meg;
    text-transform: uppercase;
    font-size: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: 37%;
    line-height: 100px;
}

button.pink,
button.yellow,
button.blue {
    font-family: Gothic;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    padding: 0px 20px;
    border: none;
    cursor: pointer;
    text-transform: lowercase;
}

button.pink {
    background-color: #f66;
}

button.pink:hover {
    background-color: #f3a;
    transition: 1s;
}

button.yellow {
    background-color: #ffcc00;
    color: #000;
}

button.yellow:hover {
    background-color: #ffaa22;
    transition: 1s;
}

button.blue {
    background-color: #3af;
}

button.blue:hover {
    background-color: #66f;
    transition: 1s;
}





#artworks {
    text-align: center;
    vertical-align: top;
    letter-spacing: 0px !important;
    *word-spacing: 20px !important;
    *padding-top: 15px;
    *padding-left: 15px;
    width: 100%;
}

#artworks .artwork {
    width: 33.3333%;
    height: auto;
    position: relative;
    cursor: pointer;
	display: block;
	margin: 0;
	float: left;
}

#artworks .grid figure {
    min-width: 100%;
	max-width: auto;
	max-height: auto !important;
	width: 100%;
}

#artworks .grid figure:hover {
    background-position: center center !important;
}

#artworks figure.effect-lily {
    height: 400px !important;
}

#close-artwork-preview,
#right-artwork-preview,
#left-artwork-preview {
    position: absolute;
    top: 5px;
    left: calc(50% + 488px);
    font-size: 30px;
	color: #fff;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

#close-artwork-preview:hover,
#right-artwork-preview:hover,
#left-artwork-preview:hover {
	color: #000;
    cursor: pointer;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

#right-artwork-preview {
    top: 300px;
    font-size: 50px;
}

#left-artwork-preview {
    top: 300px;
    font-size: 50px;
    left: calc(50% - 506px);
}

.artwork-preview-details {
    width: 960px;
    margin: 0 auto;
    z-index: 9990;
    color: #fff;
}

.artwork-preview-details .title {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#posts {
    text-align: center;
    vertical-align: top;
    letter-spacing: 0px !important;
    *word-spacing: 20px !important;
    *padding-top: 15px;
    *padding-left: 15px;
    *width: 1500px;
}

#posts .post {
    width: 100%;
    height: auto;
    position: relative;
    cursor: pointer;
	word-spacing: 0px;
    float: left;
}

#posts .post.halfleft {
    width: 50%;
}

#posts .post.halfright {
    width: 50%;
}

#posts .grid figure {
    min-width: 100%;
	max-width: auto;
	max-height: auto !important;
	width: 100%;
}

#posts figure.effect-lily {
    height: 600px !important;
}



.preview-header {
    color: #f66;
    font-weight: normal;
    font-size: 40px;
    margin-top: 5px;
    text-transform: uppercase;
}

.preview-header span {
    float: left;
    font-size: 40px;
    margin-top: 5px;
}

.preview-header #publish,
.preview-header #change,
.preview-header #cancel {
    float: right;
    margin-top: 5px;
}

.preview-header #change {
    margin-right: 20px;
}


.preview-header #cancel {
    margin-right: 20px;
}

#preview-actions {
    position: absolute;
    right: 20px;
    bottom: -20px;
    *clear: both;
}



/*---------------*/
/***** Lily *****/
/*---------------*/

.grid {
	position: relative;
	margin: 0 auto;
	/*padding: 1em 0 4em;*/
	/*max-width: 1000px;*/
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0;
	min-width: 310px;
	max-width: 480px;
	*max-height: 360px;
	width: 100%;
	/*background: #3085a3;*/
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption h2 {
    *text-transform: uppercase;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	*text-transform: uppercase;
	text-transform: lowercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	*word-spacing: -0.15em;
	*font-weight: 300;

    *font-family: Meg;
    *font-size: 40px;
    *text-transform: uppercase;
    *font-weight: normal;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	*font-size: 68.5%;
}

figure {
    margin: 0 40px;
    display: block;
}

figure.effect-lily img {
	max-width: none;
	width: -webkit-calc(100% + 50px);
	width: calc(100% + 50px);
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0, 0);
	transform: translate3d(-40px,0,0);
}

figure.effect-lily figcaption {
	text-align: left;
}

figure.effect-lily figcaption > div {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	height: 50%;
}

figure.effect-lily h2,
figure.effect-lily p,
figure.effect-lily .published-date {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
	text-align: left;
}

figure.effect-lily h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

#artworks figure.effect-lily h2 {
	color: rgba(255,255,255,0.8);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily p,
figure.effect-lily .published-date {
	color: rgba(255,255,255,0.8);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily .dark {
    z-index: 1001;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s;
}

figure.effect-lily .dark:hover {
    background: rgba(0,0,0,0.5) !important;
}

figure.effect-lily:hover img,
figure.effect-lily:hover p,
figure.effect-lily:hover h2,
figure.effect-lily:hover .published-date {
	opacity: 1 !important;
	color: #fff !important;
}

figure.effect-lily:hover .description {
	*background: rgba(0,0,0,0.5)
}

figure.effect-lily {
    height: auto;
    background-position: center center !important;
    background-size: auto 120% !important;
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

figure.effect-lily:hover {
    background-position: calc(50% - 50px) center !important;
    background-size: auto 120% !important;
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p,
figure.effect-lily:hover .published-date {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-lily .summary {
    text-transform: none; color: #fff;
}

figure.effect-lily .published-date {
    text-transform: none;
    font-style: italic;
    font-size: 12px;
}

figure.effect-lily:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.copyright {
    font-size: 14px;
    float: left;
}

.footer-submenu {
    font-size: 14px;
    float: left;
    margin-left: 3px;
}

.footer-submenu a {
    color: #333;
}

@media (min-width: 1920px) {
    figure.effect-lily {
        background-size: 120% auto !important;
    }

    figure.effect-lily:hover {
        background-size: 120% auto !important;
    }
}

@media (max-width: 1200px) and (min-width: 750px) {
    #artworks .artwork {
        width: 50%;
    }
}

@media (max-width: 750px) and (min-width: 50px) {
    #artworks .artwork {
        width: 100%;
    }
}

@media (max-width: 1300px) and (min-width: 50px) {
    figure.effect-lily p {
        display: none !important;
    }

    figure.effect-lily:hover p {
        display: none !important;
    }
}

@media (max-width: 1000px) and (min-width: 50px) {

    .center-column {
        width: 95%;
    }

    #logo {
        width: 95%;
    }

    #footer .content {
        width: 95%;
    }

    #footer .footer-submenu {
        float: none;
        clear: both;
        text-align: center;
    }
    #footer .footer-submenu .first-pipe {
        display: none;
    }

    #posts .post.halfleft {
        width: 100%;
    }
    #posts .post.halfright {
        width: 100%;
    }
    //#menu {
    //    visibility: hidden;
    //}

    #menu-toggle {
        display: block !important;
    }

    #menu {
        display: none;
        width: 110px !important;
        right: 0 !important;
        top: 81px !important;
        position: absolute !important;
        background: rgba(255,255,255,0.9);
    }

    #body #menu {
        color: #444;
        width: 110px !important;
        margin-top: 0px !important;
    }

    #menu a {
        text-align: right;
        display: block;
        margin: 0 !important;
        padding: 5px 10px;
        float: none !important;
    }

    #body #menu a {
        float: none !important;
        padding: 5px 20px;
    }

    #logo {
        height: 70px !important;
    }

    #menu .item .sub-menu {
        position: static;
        transform: scale(1, 1);
    }

    #menu .item .sub-menu li,
    #menu .item .sub-menu li a {
        text-align: right !important;
        padding: 0 10px 0 0 !important;
    }
}


@media (max-width: 1000px) and (min-width: 505px) {
    .toggle {
        margin-top: 10px !important;
    }
}

@media (max-width: 670px) and (min-width: 50px) {

}


@media (max-width: 730px) and (min-width: 646px) {
    #newsletter input,
    #newsletter button {
        padding: 10px 5px !important;
    }
}


@media (max-width: 645px) and (min-width: 50px) {
    #newsletter ul li {
        float: none !important;
        margin: 0 0 10px 0 !important;
        width: 95% !important;
    }
    .footer-social {
        float: none;
        margin-bottom: 20px;
    }
    .copyright {
        text-align: center;
        float: none;
    }
    #footer {
        margin-top: 290px !important;
        height: 140px;
    }

}

@media (max-width: 505px) and (min-width: 50px) {
    .hide_disqus_footer {
        height: 200px;
    }
    #logo img {
        width: 230px !important;
    }
    #logo {
        height: 50px !important;
    }
    #header {
        height: 60px !important;
    }
    .after-header {
        height: 60px !important;
    }
    .banner-title {
        font-size: 70px;
        line-height: 70px;
    }

    #menu {
        display: none;
        width: 110px !important;
        right: 0 !important;
        top: 61px !important;
        position: absolute !important;
        background: rgba(255,255,255,0.9);
    }
    #menu-toggle {
        right: 0 !important;
        top: 15px !important;
    }
    .btn-lg {
        padding: 7px 10px !important;
    }

}

@media (max-height: 800px) and (min-height: 600px) {
    #logo-div {
        top: 55% !important;
    }
}

@media (max-height: 600px) and (min-height: 5px) {
    #logo-div {
        top: 50% !important;
    }
}

#menu-toggle {
    display: none;
    z-index: 1;
    position: fixed;
    top: 10px;
    right: 10px;
}

.toggle {
    margin: -3px 10px 0 0;
}

.btn,
.btn:focus,
.btn:active,
.active {
    outline: 0;
}

btn {
    transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
}

.btn {
    border-radius: 2px;
}

.btn-lg {
  padding: 13px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.btn-dark {
    border-radius: 50%;
    color: #fff;
    background-color: rgba(120,120,120,0.6);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.9);
    opacity: .8;
}

.btn-light {
    color: #999;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #ccc;
}
