/*
#blog div,
#blog p,
#blog span {
    text-transform: none;
    font-variant: none;
    font-size: 18px;
    font-weight: normal;
}
textarea {
    width: 100%;
    height: 80px;
}
input[type=text] {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    color: grey;
}
*/

/*{% if user.is_authenticated %}*/

/*
.editable:hover {
    border: 1px dashed red;
    margin: -1px;
    cursor: crosshair;
    background-color: #fff8f8;
}
h1.editable:hover {
    margin: 19px -1px 18px -1px;
}
.editing {
    border: 1px dashed red;
    margin: -1px;
    cursor: crosshair;
    background-color: #fff8f8;
    padding: 10px;
}
h1.editing {
    margin: 19px -1px 18px -1px;
}
*/

/*{% endif %}*/


/*

#blog {
    overflow: hidden;
}

#posts {
    margin-top: 20px !important;
}

#posts ul {
    list-style: none;
    margin-left: -11.25px;
    margin-right: -11.25px;
}

#posts li {
    width: 305px;
    height: 305px;
    margin-left: 11.25px;
    margin-right: 11.25px;
    margin-bottom: 22.5px;
    position: relative;
    cursor: pointer;
    float: left;
    *border: 1px solid #eee;
}
#posts li.last {
    margin-right: 0px;
}
#posts img {
    position: absolute;
    top: 0;
    left: 0;
}
#posts li span,
#posts li p {
    position: absolute;
    padding: 0;
    bottom: 0px;
    display: block;
    width: 245px !important;
    height: 115px !important;
    line-height: 25px;
    margin: 0 0 0 30px;
    font-size: 14px;
    overflow: hidden;
}
#posts li p strong {
    font-size: 18px !important;
    line-height: 25px;
}

#posts li span {
    background-color: #fff;
    opacity: 0.8;
    z-index: 1;
}
#posts li p {
    z-index: 4;
    width: 225px;
    height: 75px;
    padding: 10px;
    text-align: center;
    color: #000;
    text-transform: none;
    font-variant: none;
}
#posts li img:hover {
    transition: .5s;
    opacity: .6;
}
.add-blog {
    font-family: tahoma;
    font-size: 14em;
    font-weight: bold;
    text-align: center;
    color: #004400;
    *background-color: #eeffee;
}
.add-blog a {
    color: #004400;
    text-decoration: none;
    opacity: 0.5;
}
.add-blog a:hover {
    opacity: 1;
}
*/
