

#logo-div {
    position: absolute;
    top: 60%;
    width: 100%;
}

.home-overlay {
    height: 100%;
}

#logo-home {
    font-size: 150px;
    width: 740px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    margin: 0 auto;
}

#home {
    margin: 0 auto !important;
    color: #fff;
    z-index: 999 !important;
    font-weight: bold;
    background-image: url(/static/img/amelie-home.jpg);
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 40%;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

#home .home-bar {
    margin: 0 auto;
    width: 100%;
    margin-top: 30%;
    z-index: 999 !important;
}
#home .content {
    position: absolute;
    top: 80%;
    width: 100%;
    display: none;
    height: 60px;
}

#home .transp {
    padding: 5px 0 5px 0;
    background: rgba(255, 255, 255, 0.1);
}

#home .top {
    position: absolute;
    top: 25px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    color: #444 !important;
}

#home .logo-top {
    position: absolute;
    top: -23px;
    left: 1px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    color: #444 !important;
}

#home .logo-top #logo-home {
    font-size: 100px !important;
    width: 1353px !important;
    height: 50px !important;
    *margin: -10px auto 28px auto !important;
}

#home .logo-top #logo-home img {
    transform: scale(0.45);
    -webkit-filter: invert(80%);
    -ms-transform: scale(0.45); /* IE 9 */
    -webkit-transform: scale(0.45); /* Chrome, Safari, Opera */
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

#menu {
    *margin-top: 8px;
    width: 832px;
    font-size: 36px;
    float: none;
    margin: 0 auto;
}

#home #menu a {
    padding: 10px 45px;
}

.menu-home a {
    color: #fff !important;
}

.transp-top {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    padding: 0 0 0 0 !important;
    background: rgba(0, 0, 0, 0) !important;
}

.menu-top {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    width: 1050px !important;
    font-size: 17px !important;
    color: #444 !important;
    margin-top: -7px !important;
}

.menu-top a {
    padding: 5px 45px !important;
    color: #444 !important;
}

.menu-top a:visited {
    padding: 5px 45px !important;
    color: #444 !important;
}

.home-top {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    *height: 100px !important;
    *display: block !important;
}

.home-top .home-overlay {
    background-color: rgba(255, 255, 255, 1);
}


.menu-transition a {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    font-size: 22px !important;
}

.logo-transition {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    font-size: 50px !important;
    margin: 20px 0 0 0;
}
