

#logo-div {
    position: absolute;
    top: 60%;
    width: 100%;
}

.home-overlay {
    height: 100% !important;
}

#logo-home {
    font-size: 150px;
    width: 722px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    margin: 0 auto;
}

#logo-home img {
    margin-left: 12px;
}

#home {
    margin: 0 auto !important;
    color: #fff;
    z-index: 999 !important;
    font-weight: bold;
    /*background-image: url(/static/img/amelie-home.jpg);*/
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 40%;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

#home .home-bar {
    margin: 0 auto;
    width: 100%;
    margin-top: 30%;
    z-index: 999 !important;
}
#home .content {
    position: absolute;
    top: 80%;
    width: 100%;
    display: none;
    height: 60px;
}

#home .transp {
    padding: 5px 0 5px 0;
    background: rgba(255, 255, 255, 0.1);
}

#home .top {
    position: absolute;
    top: 25px !important;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    color: #444 !important;
}

#home .logo-top {
    position: absolute;
    top: -23px !important;
    left: -11px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    color: #444 !important;
}

#home .logo-top #logo-home {
    font-size: 100px !important;
    width: 1353px !important;
    height: 50px !important;
}

#home .logo-top #logo-home img {
    transform: scale(0.45);
    -webkit-filter: invert(80%);
    -ms-transform: scale(0.45); /* IE 9 */
    -webkit-transform: scale(0.45); /* Chrome, Safari, Opera */
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

#menu {
    width: 810px;
    font-size: 30px;
    float: none;
    margin: 0 auto;
}

#menu a {
    text-align: center;
    display: block;
    margin: 0 !important;
    padding: 5px 52px;
    float: right;
    *color: #fff;
    text-decoration: none;
    z-index: 9999999;
}

.menu-home a {
    color: #eee !important;
}

.transp-top {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    padding: 0 0 0 0 !important;
    background: rgba(0, 0, 0, 0) !important;
}

.menu-top {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    width: 1050px !important;
    font-size: 17px !important;
    color: #444 !important;
    margin-top: -7px !important;
}

.menu-top a {
    padding: 5px 45px !important;
    color: #444 !important;
}

.menu-top a:visited {
    padding: 5px 45px !important;
    color: #444 !important;
}

.home-top {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    *height: 100px !important;
    *display: block !important;
}

.home-top .home-overlay {
    background-color: rgba(255, 255, 255, 1);
}


.menu-transition a {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    font-size: 22px !important;
}

.logo-transition {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    font-size: 50px !important;
    margin: 20px 0 0 0;
}


@media (max-width: 1000px) and (min-width: 700px) {
    #logo-home {
        width: 500px;
    }
    #logo-home img {
        max-width: 500px !important;
        margin-left: 0 !important;
    }
    #logo-div {
        top: 55% !important;
    }
    .content {
        top: 75% !important;
    }
    #menu {
        display: block !important;
        position: static !important;
        background: none;
        text-align: center;
        width: 540px !important;
    }
    #menu a {
        width: 130px !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
        float: right !important;
        font-size: 26px !important;
    }
}


@media (max-width: 700px) and (min-width: 50px) {
    #logo-home {
        width: 500px;
    }
    #logo-home img {
        max-width: 500px !important;
        margin-left: 0 !important;
    }
    #logo-div {
        top: 55% !important;
    }
    .content {
        top: 75% !important;
    }
    #menu {
        display: block !important;
        position: static !important;
        background: none;
        *text-align: center;
        width: 560px !important;
    }
    #menu a {
        width: 140px !important;
        font-size: 22px !important;
        float: left !important;
        text-align: center !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}


@media (max-width: 550px) and (min-width: 5px) {
    #logo-home {
        width: 400px;
    }
    #logo-home img {
        max-width: 400px !important;
    }
    #menu a {
        font-size: 26px !important;
    }
    .content {
        top: 70% !important;
    }
    #menu {
        width: 460px !important;
    }
    #menu a {
        width: 115px !important;
        font-size: 16px !important;
    }

}


@media (max-width: 440px) and (min-width: 5px) {
    #logo-home {
        width: 350px;
    }
    #logo-home img {
        max-width: 350px !important;
    }
    #menu a {
        font-size: 20px !important;
    }
    #menu {
        width: 412px !important;
    }
    #menu a {
        width: 103px !important;
        font-size: 14px !important;
    }
}

@media (max-width: 390px) and (min-width: 5px) {
    #logo-home {
        width: 300px;
    }
    #logo-home img {
        max-width: 300px !important;
    }
    #menu {
        width: 360px !important;
    }
    #menu a {
        width: 90px !important;
        font-size: 13px !important;
    }
}


@media (max-width: 350px) and (min-width: 5px) {
    #logo-home {
        width: 250px;
    }
    #logo-home img {
        max-width: 250px !important;
    }
    #menu {
        width: 280px !important;
    }
    #menu a {
        width: 70px !important;
        font-size: 12px !important;
    }
}


@media (max-width: 280px) and (min-width: 5px) {
    #logo-home {
        width: 220px;
    }
    #logo-home img {
        max-width: 220px !important;
    }
    #menu {
        width: 240px !important;
    }
    #menu a {
        width: 60px !important;
        font-size: 11px !important;
    }
}


@media (max-width: 240px) and (min-width: 5px) {
    #logo-home {
        width: 200px;
    }
    #logo-home img {
        max-width: 200px !important;
    }
    #menu {
        width: 220px !important;
    }
    #menu a {
        width: 55px !important;
        font-size: 10px !important;
    }
}

@media (max-height: 800px) {
    #logo-div {
        top: 60% !important;
    }
    .content {
        top: 82% !important;
    }
}

@media (max-height: 700px) {
    #logo-div {
        top: 56% !important;
    }
    .content {
        top: 80% !important;
    }
}

@media (max-height: 600px) {
    #logo-div {
        top: 54% !important;
    }
    .content {
        top: 80% !important;
    }
}


@media (max-height: 500px) {
    #logo-div {
        top: 52% !important;
    }
    .content {
        top: 74% !important;
    }
}

@media (max-height: 400px) {
    #logo-div {
        top: 50% !important;
    }
    .content {
        top: 72% !important;
    }
}

@media (max-height: 300px) {
    #logo-div {
        top: 30% !important;
    }
    .content {
        top: 68% !important;
    }
}
