.newsletter {
    margin: 0 auto;
    width: calc(92% - 30px);
}

.newsletter strong {
    display: block;
    padding: 10px 20px !important;
}

.newsletter input {
    width: 100%;
    padding: 10px 20px;
}

.newsletter ul {
    width: 100%;
    list-style: none;
    margin: 0;
}

.newsletter ul li {
    float: left;
    margin-right: 10px;
    width: 23%;
}

.newsletter ul.errorlist li {
    width: auto;
    font-family: Gothic;
}

.newsletter ul li.last {
    margin-right: 0;
}

.newsletter button {
    margin: 0px;
    width: 100%;
    padding: 11px 20px;
}

.newsletter button:hover {
    color: #7897c3;
    border-color: #7897c3;
    transition: 0.2s;
}

.non-field-errors {
    text-align: center;
    padding: 5px 0px;
    background-color: rgba(64,0,0,0.5);
    *border: 1px solid #800;
    color: #fff;
    white-space: nowrap;
    width: 100%;
}
