#top-bar {
    *background-color: #eee;
    *background-color: rgba(0,100,0,0.05);
    *background-color: rgba(254,236,20,0.3);
    *background-color: #7897c3;
    *background-color: #c3a478;
    background-color: #efefef;
    border-bottom: 1px solid #dedede;
    padding: 5px 0;
    font-family: Gothic;
}

#top-bar input,
#top-bar button {
    padding: 0px 10px;
    font-size: 12px;
    line-height: 26px;
    font-weight: normal;
}

#top-bar button {
    line-height: 28px;
}

#top-bar .top-bar-close {
    float: right;
    margin-right: 15px;
    font-weight: normal;
    *font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    *color: #ce0202;
    *color: #ce0202;
    *text-decoration: underline;
}

#top-bar .top-bar-close:hover {
    opacity: 0.7;
}

#top-bar .newsletter {
    width: 100%;
}

#top-bar .newsletter ul {
    width: 550px;
}

#top-bar .errorlist li {
    font-weight: normal;
}

.non-field-errors {
    font-size: 12px;
    padding: 0px 20px;
}

#top-bar .topbar-description {
    float: left;
    font-size: 13px;
    font-weight: normal;
}