{% load staticfiles %}
{% load cropping %}

<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <meta name="author" content="Flavia Bernardes">
        <meta name="description" content="{% block description %}Check out artist Flavia Bernardes' new website{% endblock %}">

        <!-- pinterest -->
        <meta name="p:domain_verify" content="0abc82f2a4e2d934f1b07766abce62ee"/>
        <!-- end pinterest -->

        <title>{% block title %}{% if page and not page.is_newsletter_confirmation_page %}{{ page.title }}{% else %}Flavia Bernardes Art{% endif %}{% endblock %}</title>
        <meta property="og:title" content="{% block ogtitle %}{% if page and not page.is_newsletter_confirmation_page %}{{ page.title }}{% else %}Flavia Bernardes Art{% endif %}{% endblock %}" />
        <meta property="og:description" content="{% block ogdescription %}{% if page and not page.is_newsletter_confirmation_page %}{{ page.description }}{% else %}Check out artist Flavia Bernardes' new website{% endif %}{% endblock %}" />
        <meta property="og:type" content="{% block ogtype %}website{% endblock %}" />
        <meta property="og:url" content="http://www.flaviabernardesart.com{% block ogurl %}{% if page and not page.is_newsletter_confirmation_page %}{{ page.get_absolute_url }}{% else %}/{% endif %}{% endblock %}" />
        <meta property="og:image" content="http://www.flaviabernardesart.com{% block ogimage %}{% if page and page.social %}{% cropped_thumbnail page 'social' scale=1 %}{% else %}{% static 'img/amelie125x125.jpg' %}{% endif %}{% endblock %}" />

        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" />

        <link href="{% static 'css/jquery.bxslider.css' %}" rel="stylesheet" />
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/social.css' %}" rel="stylesheet" />
        <link href="{% static 'css/base.css' %}" rel="stylesheet" />
        <link href="{% static 'css/ajaxloader.css' %}" rel="stylesheet" />
        <link href="{% static 'css/newsletter.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

        <!-- jQuery library (served from Google) -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
        <script src="{% static 'js/jquery.bxslider.js' %}"></script>
        <script src="{% static 'js/jquery.cookie.js' %}"></script>
        <script src="{% static 'js/ajaxloader.js' %}"></script>
        <script src="{% static 'js/parallax.js' %}"></script>
        <script src="{% static 'js/fixatscroll.js' %}"></script>

        <script type="text/javascript">var switchTo5x=true;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: "023fcf4a-4582-470d-8c44-a22303a1ce96", doNotHash: true, doNotCopy: false, hashAddressBar: false});</script>

        <script async defer data-pin-hover="true" data-pin-tall="true" src="//assets.pinterest.com/js/pinit.js"></script>


        {% block extrajs %}{% endblock %}

        <style>
            {% comment %}
            {% if user.is_authenticated %}
                .center-column {
                    *border: 1px dashed red;
                    background-color: #fff;
                }
                body {
                    background-color: #fff8f8;
                }
                #header .content {
                    background-color: #fff8f8 !important;
                }
            {% endif %}
            {% endcomment %}
        </style>
        {% block extrastyle %}{% endblock %}

    </head>
    <body>
        <div id="cover">
            <img src="{% static 'img/ajax-loader.png' %}" class="ajax-loader">
        </div>
        {% block site %}
            <div id="body">
                <section id="header">
                    <div class="center-column">
                        <div id="logo">
                            {% block logo %}
                                <img src="{% static 'img/logo-small-bw.png' %}" style="width: 320px;" />
                            {% endblock %}
                        </div>
                        <div class="transp transp-top">
                            {% include "top-menu.html" %}
                            <script>
                                $('.item').mouseover(function () {
                                    $(this).find('.sub-menu').css('transform', 'scale(1, 1)');
                                });
                                $('.item').mouseout(function () {
                                    if ($(window).width() <= 1000) return;
                                    $(this).find('.sub-menu').css('transform', 'scale(1, 0)');
                                });
                            </script>


                            <a id="menu-toggle" href="javascript:;" class="btn btn-dark btn-lg toggle">
                                <i class="fa fa-1x fa-bars"></i>
                            </a>
                            <script>
                                $('#menu-toggle').click(function () {
                                    if ($("#menu").is(':hidden')) {
                                        $("#menu").slideDown();
                                    } else {
                                        $("#menu").slideUp();
                                    }
                                });
                            </script>

                        </div>

                    </div>
                </section>

                <div class="after-header"></div>

                <div class="site-top">
                    {% block container-top %}
                        {% if page and page.banner1 %}
                            <div class="parallax banner" bg-size="1920x600"
                                 style="background-image: url({% cropped_thumbnail page 'banner1' scale=1 %}); position: relative;">
                                <div class="center-column">
                                </div>
                                <div class="banner-title">
                                    {{ page.title }}
                                </div>
                                {% block cms_actions %}
                                    {% if user.is_authenticated and user.is_superuser %}
                                        <script src="{% static 'js/admin/cmsobjectlist.js' %}"></script>
                                        <p id="preview-actions">
                                            <button id="modify-page" class="yellow">
                                                MODIFY
                                            </button>
                                        </p>
                                        <script>
                                            $("#modify-page").click(function () {
                                                newDraft('cms', 'page', 'pagedraft', {{ page.id }});
                                            });
                                        </script>
                                    {% endif %}
                                {% endblock %}
                            </div>
                        {% endif %}
                    {% endblock %}
                </div>

                {% block content1 %}
                    {% if page and page.content1 %}
                        <div class="center-column page-content1">
                            {% autoescape off %}
                                {{ page.content1 }}
                            {% endautoescape %}
                        </div>
                    {% endif %}
                {% endblock %}

                <div class="container-large">
                    {% block container-large %}
                    {% endblock %}
                </div>

                <div class="center-column">
                    <section class="container-main">
                        {% block container %}
                        {% endblock %}
                        <div class="clear"></div>
                    </section>
                    <div class="clear"></div>
                </div>

                {% block content2 %}
                    {% if page and page.content2 %}
                        <div class="center-column page-content2">
                            {% autoescape off %}
                                {{ page.content2 }}
                            {% endautoescape %}
                        </div>
                    {% endif %}
                {% endblock %}

                <div>
                    {% block banner2 %}
                        {% if page and page.image_banner2 %}
                            <div class="parallax banner banner2" bg-size="1920x600"
                                 style="background-image: url({% cropped_thumbnail page 'banner2' scale=1 %});">
                                <div class="center-column">
                                </div>
                            </div>
                        {% endif %}
                    {% endblock %}
                </div>

                {% block content3 %}
                    {% if page and page.content3 %}
                        <div class="center-column page-content3">
                            {% autoescape off %}
                                {{ page.content3 }}
                            {% endautoescape %}
                        </div>
                    {% endif %}
                {% endblock %}

                <div id="site-middle-anchor"></div>
                {% if not page or page and not page.is_newsletter_confirmation_page %}
                    <div class="site-middle scroll-fixed" fixat="75" anchor="site-middle-anchor">
                        <div class="center-column">
                            {% block container-middle %}
                                <section class="container-middle">
                                    <div id="newsletter-wrap">
                                        <p class="center">
                                            {% block newsletter_description %}
                                                {% if page and page.newsletter and page.newsletter.sign_up_title %}
                                                    {{ page.newsletter.sign_up_title }}
                                                {% else %}
                                                    Want an exclusive artwork wallpaper? Sign up below
                                                {% endif %}
                                            {% endblock %}
                                        </p>
                                        {% include "newsletter/line_form.html"  %}
                                    </div>
                                    <div class="clear"></div>
                                    <script src="{% static 'js/jquery.form.min.js' %}"></script>
                                    <script src="{% static 'js/newsletter.js' %}"></script>
                                </section>
                            {% endblock %}
                        </div>
                    </div>
                {% endif %}

                <div class="center-column">
                    <section class="container-bottom">
                        {% include "share.html"  %}
                        <div class="clear"></div>
                        <br>
                        <p class="center">
                            Feel free to share my work and photos with credit.
                            All artwork and images of artwork are the sole property
                            of Flavia Bernardes and may not be used or reproduced in
                            any way for profit without permission. If you have any
                            queries, please check my <a href="/artworks/faq/">FAQ page</a> for more information.
                        </p>
                        <br><br>
                        {% block container-bottom %}
                        {% endblock %}
                        <div class="clear"></div>
                    </section>
                    <div class="clear"></div>
                </div>

                <div class="clear"></div>
                <div style="height: 40px;"></div>
                <div class="clear"></div>

                <section id="footer">
                    <div class="content">
                        {% with '32' as size %}
                            <div class="footer-social">{% include "social.html" %}</div>
                        {% endwith %}
                        <div class="copyrights">&#9400 Flavia Bernardes, 2015. All rights reserved.</div>
                        <div class="clear"></div>
                    </div>
                </section>
            </div>
        {% endblock %}

        <script>

            function toSlug(str) {
                return str.toLowerCase().replace(/ /g,'-').replace(/[^\w-]+/g,'');
            }

            $('ol').each(function (i) {
                var $next = $(this).next();
                if ($next.prop('tagName').toLowerCase() == 'ul') {
                    var slug = toSlug($(this).find('p').text()) + i;
                    $next.hide();
                    $(this).attr('for', slug);
                    $(this).addClass('dynamic-accordion');
                    $next.prop('id', slug);
                    //$next.css('list-style', 'none');
                }
            });

            $('.dynamic-accordion').click(function () {
                var id = $(this).attr('for');
                var $el = $('#' + id);
                if ($el.is(':hidden')) {
                    $el.slideDown();
                    $(this).addClass('active');
                } else {
                    $el.slideUp();
                    $(this).removeClass('active');
                }
            });

            /*****    GOOGLE ANALYTICS    *****/
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-60830121-1', 'auto');
            ga('send', 'pageview');
            /*****    END GOOGLE ANALYTICS    *****/

            $(window).ready(function () {
                if ($.browser.chrome) {
                    //$("#logo-home").css("margin", "-10px auto 28px auto");
                }
                $('#logo').click(function () {
                    window.location.replace('{% url 'home' %}');
                });
            });
        </script>

        {% block bottomjs %}
        {% endblock %}
    </body>
</html>
