{% load staticfiles %}
{% load cropping %}

<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Flavia Bernardes">
        <meta name="description" content="{% block description %}Check out artist Flavia Bernardes' new website{% endblock %}">

        <!-- pinterest -->
        <meta name="p:domain_verify" content="0abc82f2a4e2d934f1b07766abce62ee"/>
        <!-- end pinterest -->

        <title>{% block title %}Flavia Bernardes Art{% endblock %}</title>
        <meta property="og:title" content="{% block ogtitle %}Flavia Bernardes Art{% endblock %}" />
        <meta property="og:description" content="{% block ogdescription %}Check out artist Flavia Bernardes' new website{% endblock %}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://www.flaviabernardesart.com{% block ogurl %}{% endblock %}" />
        <meta property="og:image" content="http://www.flaviabernardesart.com{% block ogimage %}{% static 'img/amelie125x125.jpg' %}{% endblock %}" />

        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" />

        <link href="{% static 'css/jquery.bxslider.css' %}" rel="stylesheet" />
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/social.css' %}" rel="stylesheet" />
        <link href="{% static 'css/base.css' %}" rel="stylesheet" />
        <link href="{% static 'css/ajaxloader.css' %}" rel="stylesheet" />
        <link href="{% static 'css/newsletter.css' %}" rel="stylesheet" />

        <!-- jQuery library (served from Google) -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
        <script src="{% static 'js/jquery.bxslider.js' %}"></script>
        <script src="{% static 'js/jquery.cookie.js' %}"></script>
        <script src="{% static 'js/ajaxloader.js' %}"></script>
        <script src="{% static 'js/parallax.js' %}"></script>
        <script src="{% static 'js/fixatscroll.js' %}"></script>

        <script type="text/javascript">var switchTo5x=true;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: "023fcf4a-4582-470d-8c44-a22303a1ce96", doNotHash: true, doNotCopy: false, hashAddressBar: false});</script>
        {% block extrajs %}{% endblock %}

        <style>
            {% comment %}
            {% if user.is_authenticated %}
                .center-column {
                    *border: 1px dashed red;
                    background-color: #fff;
                }
                body {
                    background-color: #fff8f8;
                }
                #header .content {
                    background-color: #fff8f8 !important;
                }
            {% endif %}
            {% endcomment %}
        </style>
        {% block extrastyle %}{% endblock %}

    </head>
    <body>
        <div id="cover">
            <img src="{% static 'img/ajax-loader.png' %}" class="ajax-loader">
        </div>
        {% block site %}
            <div id="body">
                <section id="header">
                    <div id="logo" {% if landing_page %}style="height: 70px;"{% endif %}>
                        {% block logo %}
                            <img src="{% static 'img/logo-small-bw.png' %}" style="width: 320px;" />
                        {% endblock %}
                    </div>
                    <div>
                        {% if not landing_page %}
                        <div class="transp transp-top">
                            {% include "top-menu.html" %}
                        </div>
                        {% endif %}
                    </div>
                </section>

                <div class="after-header"></div>

                <div class="site-top">
                    {% block container-top %}
                    {% endblock %}
                </div>

                <div class="center-column">
                    <section class="container-main">
                        {% block container %}
                        {% endblock %}
                        <div class="clear"></div>
                    </section>
                    <div class="clear"></div>
                </div>

                <div id="site-middle-anchor"></div>
                <div class="site-middle scroll-fixed" fixat="80" anchor="site-middle-anchor">
                    <div class="center-column">
                        {% block container-middle %}
                            <section class="container-middle">
                                <div id="newsletter-wrap">
                                    <p class="center">
                                        {% block newsletter_description %}
                                            Want an exclusive artwork wallpaper? Sign up below
                                        {% endblock %}
                                    </p>
                                    {% include "newsletter/line_form.html"  %}
                                </div>
                                <div class="clear"></div>
                                <script src="{% static 'js/jquery.form.min.js' %}"></script>
                                <script src="{% static 'js/newsletter.js' %}"></script>
                            </section>
                        {% endblock %}
                    </div>
                </div>

                <div class="center-column">
                    <section class="container-bottom">
                        {% include "share.html"  %}
                        <div class="clear"></div>
                        <br><br><br>
                        {% block container-bottom %}
                        {% endblock %}
                        <div class="clear"></div>
                    </section>
                    <div class="clear"></div>
                </div>

                <div class="clear"></div>
                <div style="height: 40px;"></div>
                <div class="clear"></div>

                <section id="footer">
                    <div class="content">
                        {% with '32' as size %}
                            <div class="footer-social">{% include "social.html" %}</div>
                        {% endwith %}
                        <div class="copyrights">&#9400 Flavia Bernardes, 2015. All rights reserved.</div>
                        <div class="clear"></div>
                    </div>
                </section>
            </div>
        {% endblock %}

        <script>
            /*****    GOOGLE ANALYTICS    *****/
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-60830121-1', 'auto');
            ga('send', 'pageview');
            /*****    END GOOGLE ANALYTICS    *****/

            $(window).ready(function () {
                if ($.browser.chrome) {
                    //$("#logo-home").css("margin", "-10px auto 28px auto");
                }
                $('#logo img').click(function () {
                    window.location.replace('/');
                });
            });
        </script>

        {% block bottomjs %}
        {% endblock %}
    </body>
</html>
