{% extends 'base.html' %}
{% load staticfiles %}
{% load cropping %}

{% block container %}

    <ul class="bxslider">
        {% for artwork in home_artwork_list %}
            <li>
                <img src="{% cropped_thumbnail artwork 'home_preview' scale=1 %}" />
            </li>
        {% endfor %}
    </ul>
    <script>
        $(document).ready(function(){
            $('.bxslider').bxSlider({
                auto: true,
                controls: false,
                speed: 1000,
                mode: 'fade'
            });
        });
    </script>
{% endblock %}