<div id="share" style="height: 60px;">
    <p class="center" style="display: none;">
        <span class='st_sharethis_large' displayText='ShareThis'></span>
        <span class='st_facebook_large' displayText='Facebook'></span>
        <span class='st_twitter_large' displayText='Tweet'></span>
        <span class='st_googleplus_large' displayText='G+'></span>
        <span class='st_email_large' displayText='Email'></span>
    </p>
</div>
<script>
    $(window).load(function () {
        window.setTimeout(function () {
            $('#share p').fadeIn(500);
        }, 1000);
    });
</script>