<section id="menu">
    {% for menu_page in menus %}
        <div class="item">
            <a href="{{ menu_page.get_absolute_url }}"{% if request.resolver_match.url_name == menu_page.name or page.sub_page_of.id == menu_page.id %} class="active"{% endif %}>{{ menu_page.title }}</a>
            <ul class="sub-menu">
                {% for subpage in menu_page.sub_pages %}
                    <li>
                        <a href="{{ subpage.get_absolute_url }}"{% if menu_page.name == subpage.name %} class="active"{% endif %}>
                            {{ subpage.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    <!--{% if enable_shop %}-->
        <!--<div class="item">-->
            <!--<a href="{% url 'shop_originals' %}"{% if request.resolver_match.url_name == "shop_originals" or request.resolver_match.url_name == "shop_prints" or page.name == "shop/commissions" or page.sub_page_of.name == "shop/originals" or page.sub_page_of.name == "shop/prints" or page.sub_page_of.name == "shop/commissions" %} class="active"{% endif %}>Shop</a>-->
            <!--<ul class="sub-menu">-->
                <!--{% for subpage in main_pages.shop.sub_pages %}-->
                    <!--<li>-->
                        <!--<a href="{{ subpage.get_absolute_url }}"{% if page.name == subpage.name %} class="active"{% endif %}>-->
                            <!--{{ subpage.title }}-->
                        <!--</a>-->
                    <!--</li>-->
                <!--{% endfor %}-->
            <!--</ul>-->
        <!--</div>-->
    <!--{% endif %}-->
    <div class="clear"></div>
</section>
