{% extends 'base.html' %}
{% load staticfiles %}
{% load cropping %}

{% block extrastyle %}
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
{% endblock %}

{% block container %}
    <div id="posts">
        <ul>
            {% for post in posts_list %}
                <li class="{% cycle '' '' 'last' %}">
                    <a href="{% url 'blog_post_view' post.slug %}">
                        <p>
                            <strong>{{ post.title }}</strong><br>
                            {% autoescape off %}
                                {{ post.text|removetags:"p b span i div table ul li th tr td body"|truncatechars:90 }}
                            {% endautoescape %}
                        </p>
                        <span></span>
                        <img src="{% cropped_thumbnail post 'listing' scale=1 %}" />
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="clear"></div>
{% endblock %}
