{% extends 'base.html' %}
{% load staticfiles %}
{% load cropping %}

{% block extrastyle %}
    <style>
        #blog div,
        #blog p,
        #blog span {
            text-transform: none;
            font-variant: none;
            font-size: 18px;
            font-weight: normal;
        }
        textarea {
            width: 100%;
            height: 80px;
        }
        input[type=text] {
            width: 100%;
            height: 30px;
            margin-bottom: 10px;
            color: grey;
        }
        {% if user.is_authenticated %}
            /*

            .editable:hover {
                border: 1px dashed red;
                margin: -1px;
                cursor: crosshair;
                background-color: #fff8f8;
            }
            h1.editable:hover {
                margin: 19px -1px 18px -1px;
            }
            .editing {
                border: 1px dashed red;
                margin: -1px;
                cursor: crosshair;
                background-color: #fff8f8;
                padding: 10px;
            }
            h1.editing {
                margin: 19px -1px 18px -1px;
            }

            */
        {% endif %}

        #disqus_thread {
             position: relative;
        }
        #disqus_thread:after {
             content: "";
             display: block;
             height: 55px;
             width: 100%;
             position: absolute;
             bottom: 0;
             background: white;
        }

    </style>
    <link href="{% static 'css/jquery-te-1.4.0.css' %}" rel="stylesheet" />
{% endblock %}


{% block container %}
    <div id="blog">
        <img src="{% cropped_thumbnail post 'banner' scale=1 %}" class="editable" />
        <h1 id="title" class="editable">{{ post.title }}</h1>
        <div id="text" class="editable">
            {% autoescape off %}
                {{ post.text }}
            {% endautoescape %}
        </div>
        <br/>
        {% comment %}
        <h1>Related Posts</h1>

        <p>0 Thoughts on {{ post }}</p>
        {% endcomment %}


        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'flaviabernardesart';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

    </div>

    <script src="{% static 'js/jquery-te-1.4.0.min.js' %}"></script>
    <script>
    {% comment %}
        $("#title").click(function () {
            if (!$(this).hasClass('editable')) return;
            var value = $(this).html();
            $(this).html('');
            $(this).removeClass('editable');
            $(this).addClass('editing');
            $(this).append($('<input name="title" type="text" value="' + value + '" />'))
            var $save = $('<button>Save</button>')
            $(this).append($save);
            $save.click(function () {
                var value = $('input[name=title]').val();
                $.ajax({
                    url: '{% url 'blog_change_field' blog.slug %}',
                    type: 'post',
                    dataType: 'json',
                    data: {title: value},
                    success: function (data) {
                        if (!data.success) {
                            alert(data.message);
                            return;
                        }
                        $("#title").html(value);
                        $("#title").removeClass('editing');
                        $("#title").addClass('editable');
                    }
                });
            });
        });

        $("#text").click(function () {
            if (!$(this).hasClass('editable')) return;
            var value = $(this).html();
            $(this).html('');
            $(this).removeClass('editable');
            $(this).addClass('editing');
            $(this).append($('<textarea name="text" value="' + value + '">' + value +  '</textarea>'));
            var $save = $('<button>Save</button>')
            $(this).append($save);
            $("#text textarea[name=text]").jqte();
            $save.click(function () {
                var value = $('textarea[name=text]').val();
                $.ajax({
                    url: '{% url 'blog_change_field' blog.slug %}',
                    type: 'post',
                    dataType: 'json',
                    data: {text: value},
                    success: function (data) {
                        if (!data.success) {
                            alert(data.message);
                            return;
                        }
                        $("#text").html(value);
                        $("#text").removeClass('editing');
                        $("#text").addClass('editable');
                    }
                });
            });
        });

    {% endcomment %}

    </script>
{% endblock %}
