{% extends 'blog/post.html' %}
{% load staticfiles %}
{% load cropping %}

{% block postextrastyle %}
    <link href="{% static 'css/blog.css' %}" rel="stylesheet" />
    <link href="{% static 'css/jquery-te-1.4.0.css' %}" rel="stylesheet" />
{% endblock %}

{% block logo %}
    <p class="preview-header">
        POST PREVIEW
        <button id="publish" draft_id="{{ post.id }}" post_slug="{{ post.post.slug }}">
            PUBLISH
        </button>
        <button id="change" draft_id="{{ post.id }}" post_slug="{{ post.post.slug }}">
            CHANGE
        </button>
    </p>
{% endblock %}

{% block bottomjs %}
    <script>
        $(window).ready(function () {
            var $publish = $('#publish');
            var draftId = $publish.attr('draft_id');
            var slug = $publish.attr('post_slug');
            $("#change").click(function () {
                window.location = '/admin/blog/draft/' + draftId + '/';
            });
            $publish.click(function () {
                if (confirm("Are you sure you want to publish this draft?")) {
                    $('#cover').fadeIn();
                    $.ajax({
                        url: '/admin/blog/draft/' + draftId + '/publish/',
                        type: 'post',
                        dataType: 'json',
                        success: function (data) {
                            //$('#cover').fadeOut();
                            if (data.success) {
                                window.location = '/blog/' + slug + '/';
                            } else {
                                $('#cover').fadeOut();
                                alert(data.message);
                            }
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}
