{% load staticfiles %}

{% if form.non_field_errors %}
    <div class="non-field-errors">
        {{ form.non_field_errors }}
    </div>
{% endif %}
{% csrf_token %}

{% block list_id %}
    <input type="hidden" name="list_id" value="{% if newsletter %}{{ newsletter.list_id }}{% else %}{{ default_newsletter_list.list_id }}{% endif %}" />
    <input type="hidden" name="provider" value="{% if newsletter %}{{ newsletter.provider }}{% else %}mailerlite{% endif %}" />
{% endblock %}

<ul>
    <li>
        {% if form.errors and not form.errors.email %}<ul class="errorlist"><li>&nbsp;</li></ul>{% else %}{{ form.errors.email }}{% endif %}
        <input type="email" name="email" value="{{ form.data.email }}" placeholder="e-mail" class="required" />
    </li>
    <li>
        {% if form.errors and not form.errors.first_name %}<ul class="errorlist"><li>&nbsp;</li></ul>{% else %}{{ form.errors.first_name }}{% endif %}
        <input type="text" name="first_name" value="{{ form.data.first_name }}" placeholder="first name" class="required" />
    </li>
    <li>
        {% if form.errors and not form.errors.last_name %}<ul class="errorlist"><li>&nbsp;</li></ul>{% else %}{{ form.errors.last_name }}{% endif %}
        <input type="text" name="last_name" value="{{ form.data.last_name }}" placeholder="last name (optional)" class="" />
    </li>
    <li class="last">
        {% if form.errors %}<ul class="errorlist"><li>&nbsp;</li></ul>{% endif %}
        <button style="white-space: nowrap;">Yes, please!</button>
    </li>
</ul>
<div class="clear"></div>

