{% extends 'base.html' %}
{% load staticfiles webdesign %}

{% block title %}Flavia Bernardes Art | About{% endblock %}
{% block ogtitle %}Flavia Bernardes Art | About{% endblock %}
{% block ogdescription %}Do you want to know about Flavia Bernardes Artist?{% endblock %}
{% block ogurl %}{% url 'about' %}{% endblock %}
{% block ogimage %}{% static 'img/about.jpg' %}{% endblock %}

{% block container %}
    {% autoescape off %}
        {{ page.content1 }}
    {% endautoescape %}
{% endblock %}

{% block content2 %}
    <div class="center-column">
        {% autoescape off %}
            {{ page.content2 }}
        {% endautoescape %}
    </div>
{% endblock %}