{% load staticfiles %}
{% load cropping %}

{% for artwork in artwork_list %}
    <div class="grid artwork" artwork="{{ artwork.id }}">
        <figure class="effect-lily" style="background-image: url({% cropped_thumbnail artwork 'thumbnail' scale=1 %});" description="{{ artwork.description }}" alt="{{ artwork.name }}, {{ artwork.type }}" title="{{ artwork.name }}, {{ artwork.type }}">
            <div class="dark">
                <figcaption>
                    <div class="description">
                        <h2 class="title">{{ artwork.name }}</h2>
                        <br>
                        <p class="details">
                            {{ artwork.type }}, {{ artwork.height }}x{{ artwork.width }}cm, {{ artwork.year }}
                        </p>
                    </div>
                    <a href="#{{ artwork.id }}">View more</a>
                </figcaption>
            </div>
        </figure>
    </div>
{% endfor %}