{% extends 'base.html' %}
{% load staticfiles %}
{% load cropping %}

{% block extrastyle %}
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
{% endblock %}

{% block content1 %}
    <div class="center-column">
        {% autoescape off %}
            {{ page.content1 }}
        {% endautoescape %}
    </div>
{% endblock %}

{% block content_before_banner %}
    <div class="center-column">
        {% autoescape off %}
            {{ page.content2 }}
        {% endautoescape %}
    </div>
{% endblock %}

{% block container-large %}
    <div id="full-view">

    </div>
    <div id="artworks">
        {% for artwork in artwork_list %}
            <div class="grid artwork" artwork="{{ artwork.id }}">
                <figure class="effect-lily" style="background-image: url({% cropped_thumbnail artwork 'thumbnail' scale=1 %});">
                    <div class="dark">
                        <figcaption>
                            <div class="description">
                                <h2>{{ artwork.name }}</h2>
                                <p>
                                    {{ artwork.type }}, {{ artwork.width }}x{{ artwork.height }}cm, {{ artwork.year }}
                                </p>
                            </div>
                            <a href="#">View more</a>
                        </figcaption>
                    </div>
                </figure>
            </div>
        {% endfor %}
    </div>
    <div class="clear"></div>

    <script>
        var preview_urls = {
            {% for artwork in artwork_list %}
                {{ artwork.id }}: {original: '{% cropped_thumbnail artwork 'full_preview' width=960 %}'},
            {% endfor%}
        };
        $('#artworks div.artwork').click(function (e) {
            var url = preview_urls[$(this).attr('artwork')].original;
            $("#full-view").append('<img src="' + url + '" />');
            $("#full-view").css('z-index', 9000);
            $("#full-view").fadeIn(1000);
            $('#cover img').hide();
            $('#cover').fadeIn();
            $("#footer").fadeOut();
            $(".banner").hide();
            //$("#artworks").css('visibility', 'hidden');
            $("#artworks").hide();
            $(".site-middle").hide();
            $(".container-bottom").hide();

        });
        var closeFullPreview = function () {
            $("#full-view").fadeOut(1000, function () {
                $(this).html('');
            });
            $('#cover').fadeOut();
            $('#cover img').show();
            $("#footer").fadeIn();
            //$("#artworks").css('visibility', 'visible');
            $("#artworks").fadeIn();
            $(".site-middle").fadeIn();
            $(".container-bottom").fadeIn();
            $(".banner").fadeIn();
        }
        $('#full-view').click(closeFullPreview);
        $('#cover').click(closeFullPreview);

        $("#artworks").sortable({
            stop: function (e, ui) {
                var data = [];
                $("#artworks .artwork").each(function () {
                    data.push($(this).attr('artwork'));
                });
                console.log(data);
                $.ajax({
                    url: '/artworks/sort/',
                    type: 'POST',
                    dataType: 'json',
                    data: {data: data},
                    success: function (result) {
                        console.log(result);
                        if (!result.success) {
                            alert('Something went wrong while trying to sort the artworks. Please contact Rogerio: ' + result.message);
                        }
                    }
                })
            }
        });
        $("#thumbnails ul").disableSelection();

    </script>
{% endblock %}
