{% extends 'base.html' %}
{% load staticfiles %}
{% load cropping %}

{% block ogtype %}article{% endblock %}

{% block extrastyle %}
    <link href="{% static 'css/artworks.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock %}

{% block container-large %}
    <div id="full-view">

    </div>

    <div class="center-column">
        <div style="padding: 20px; text-align: center; width: 100%; margin: 0 auto;">
            <div style="display: inline-block; margin-right: 30px; text-align: center;">
                {% for tag in tags %}
                    <a class="artwork-tag" href="#{{ tag.slug }}" id="tag-link-{{ tag.slug }}">
                        {{ tag }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="artworks">
        {% include "artwork/artworks_list.html" %}
    </div>
    <div class="clear"></div>

    <script src="{% static 'js/jquery.ba-hashchange.min.js' %}"></script>

    <script>
        var CURRENT_TITLE = document.title;
        var preview_urls = {
            {% for artwork in all_artworks %}
                {{ artwork.id }}: {original: '{% cropped_thumbnail artwork 'full_preview' width=960 %}'},
            {% endfor%}
        };
        var $currentOpened;

        $(window).ready(function () {
            $(window).hashchange();
        });

        $(window).hashchange(function() {
            var hash = window.location.hash;
            if (!hash) return;
            hash = hash.replace('#', '');
            if (!hash) return;
            if (Number(hash)) {
                var $artwork = $('#artworks div.artwork[artwork=' + hash + ']');
                if (!$artwork.length) return;
                showArtwork($artwork);
            } else {
                filterArtworks(hash);
            }
        });

        function filterArtworks(slug) {
            var $a = $('#tag-link-' + slug);
            $('.artwork-tag').removeClass('active');
            $.ajax({
                url: '/artworks/filter/',
                dataType: 'json',
                data: {slug: slug},
                success: function (result) {
                    $('#artworks').html(result.data);
                    $a.addClass('active');
                }
            })

        }
        var scrollTop;
        //$('#artworks div.artwork').click(function (e) {
        function showArtwork($artwork) {
            fbq('track', 'ViewContent');
            if (!scrollTop) {
                scrollTop = $(window).scrollTop();
            }
            var url = preview_urls[$artwork.attr('artwork')].original;
            var title = $artwork.find('figure').attr('title').text();
            var description = $artwork.find('figure').attr('description');
            var alt = $artwork.find('figure').attr('alt');
            var details = $artwork.find('.details').text();
            var $img = $('<img src="' + url + '" alt="' + description + '" title="' + description + '" />');
            document.title = title;
            $img[0].src = url;  // preload
            $("#full-view").append($img);
            $("#full-view").append('<div class="artwork-preview-details"><p class="title">' + title + '</p><p>' + details + '</p></div>');
            $("#full-view").append('<div id="close-artwork-preview" class="fa fa-times" title="Close" alt="Close"></div>');
            $("#full-view").append('<div id="right-artwork-preview" class="fa fa-caret-right" title="Next" alt="Next"></div>');
            $("#full-view").append('<div id="left-artwork-preview" class="fa fa-caret-left" title="Previous" alt="Previous"></div>');
            $("#full-view").css('z-index', 9990);
            $("#full-view").fadeIn(1000);
            $('#cover img').hide();
            $('#cover').fadeIn();
            $("#footer").fadeOut();
            $(".banner").hide();
            $(".page-content1").hide();
            $(".page-content2").hide();
            $(".page-content3").hide();
            $("#artworks").hide();
            $(".site-middle").hide();
            $(".container-bottom").hide();
            $currentOpened = $artwork;

            $('#close-artwork-preview').click(closeFullPreview);
            $('#full-view').click(closeFullPreview);

            $('#full-view *').click(function (e) {
                e.stopPropagation();
                e.preventDefault();
            });

            $('#right-artwork-preview').click(function (e) {
                e.stopPropagation();
                e.preventDefault();
                moveRight();
            });
            $('#left-artwork-preview').click(function (e) {
                e.stopPropagation();
                e.preventDefault();
                moveLeft();
            });
            setupArrows();
        }

        var closeFullPreview = function () {
            document.title = CURRENT_TITLE;
            window.location.hash = '';
            $("#full-view").fadeOut(1000, function () {
                $(this).html('');
            });
            $('#cover').fadeOut();
            $('#cover img').fadeIn(5000);
            $("#footer").fadeIn();
            //$("#artworks").css('visibility', 'visible');
            $("#artworks").fadeIn();
            $(".site-middle").fadeIn();
            $(".container-bottom").fadeIn();
            $(".banner").fadeIn();
            $(".page-content1").show();
            $(".page-content2").show();
            $(".page-content3").show();
            $(window).trigger('scroll');
            $(window).scrollTop(scrollTop);
            scrollTop = undefined;
        }

        $(document).keydown(function(e) {
            var $item;
            switch (e.keyCode) {
                case 27:
                    closeFullPreview();
                    break;
                case 37:  // left
                    moveLeft();
                    break;
                case 39:  // right
                    moveRight();
                    break;
            }
        });

        function setupArrows() {
            if (!$currentOpened.prev().length) {
                $('#left-artwork-preview').hide();
            } else {
                $('#left-artwork-preview').show();
            }
            if (!$currentOpened.next().length) {
                $('#right-artwork-preview').hide();
            } else {
                $('#right-artwork-preview').show();
            }
        }

        function moveLeft() {
            $item = $currentOpened.prev();
            if ($item.length) {
                $("#full-view").html('');
                window.location.hash = $item.attr('artwork');
                $("#full-view img").hide();
                $("#full-view img").fadeIn();
            }
            setupArrows();
        }

        function moveRight() {
            $item = $currentOpened.next();
            if ($item.length) {
                $("#full-view").html('');
                window.location.hash = $item.attr('artwork');
                $("#full-view img").hide();
                $("#full-view img").fadeIn();
            }
            setupArrows();
        }

        $("#artworks").sortable({
            stop: function (e, ui) {
                var data = [];
                var slug = $('.artwork-tag.active').attr('href').replace('#', '');
                $("#artworks .artwork").each(function () {
                    data.push($(this).attr('artwork'));
                });
                $.ajax({
                    url: '/artworks/sort/',
                    type: 'POST',
                    dataType: 'json',
                    data: {data: data, tag_slug: slug},
                    success: function (result) {
                        console.log(result);
                        if (!result.success) {
                            alert('Something went wrong while trying to sort the artworks. Please contact Rogerio: ' + result.message);
                        }
                    }
                })
            }
        });
        $("#thumbnails ul").disableSelection();

    </script>
{% endblock %}
